<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.emp-mapper">
  <select id="empListData" resultType="EmpVO">
    SELECT empno,ename,job,hiredate,sal
    FROM emp
    ORDER BY sal DESC
  </select>
  <select id="empDetailData" resultType="EmpVO" parameterType="int">
  <!--
  	parameterType => 우리가 ?에 넣었던 것!! 여기서는 # 사용
  	ps.setInt()
  	ps.setString()
  -->
  	SELECT empno,ename,TO_CHAR(hiredate,'yyyy-MM-dd') as dbday,sal,comm,mgr,deptno
	FROM emp
	WHERE empno=#{empno}
  </select>
</mapper>