<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.nature-mapper">
	<sql id="select-sql">
		SELECT no,title,address,msg
		FROM seoul_nature
	</sql>
	<select id="natureListData" resultType="SeoulNatureVO">
	  SELECT no,title,address,msg,rownum
	  FROM (SELECT no,title,address,msg FROM seoul_nature ORDER BY no ASC)
	  WHERE rownum&lt;=10
	</select>
	<select id="natureDetailData" resultType="SeoulNatureVO" parameterType="int">
		<include refid="select-sql"/>
		WHERE no=#{no}
	</select>
</mapper>