<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.shop-mapper">
	<sql id="select-sql">
		SELECT no,title,address,msg
		FROM seoul_shop
	</sql>
	<select id="shopListData" resultType="SeoulShopVO">
		SELECT no,title,address,msg,rownum
		FROM (SELECT no,title,address,msg FROM seoul_shop ORDER BY no ASC)
		WHERE rownum&lt;=10
	</select>
	<select id="shopDetailData" resultType="SeoulShopVO" parameterType="int">
		<include refid="select-sql"/>
		WHERE no=#{no}
	</select>
</mapper>